<div class="wrapper">
    <div class="wrapper__inner" data-filters="booksList" data-paginate="booksList" data-search>

        <h2 class="title title--2">Toutes les lectures</h2>

        <div class="filters">
            <button class="filter__btn btn btn--secondary" data-filter-toggle="time">Trier par date de publication</button>
            <button class="filter__btn btn btn--secondary" data-filter-toggle="name">Trier par nom</button>
            <label for="searchbox" class="">Recherche</label>
            <input class="" type="search" id="searchbox" placeholder="Renseignez un mot clé">
        </div>

        <div class="booksList" data-paginate-list data-filter-list data-search-list>
            {% for post in collections.post %}
                <article class="book book--details" data-paginate-item data-filtered-item data-searched-item>
                    <a href="{{ post.url }}" class="book__link">
                        <img src="assets/img/cover/{{ post.data.couverture }}-th.webp"
                             alt="couverture de {{ post.data.title }}" loading="lazy" class="book__visual">
                    </a>

                    <div class="book__title">
                        <h3 class="title title--3" data-name="{{ post.data.title }}">{{ post.data.title }}</h3>
                        <h4 class="title title--4">{{ post.data.author }}</h4>
                    </div>

                    <footer class="book__footer">
                        <p class="text text--sm">Date de publication : <span class="time" data-time="{{ post.date | niceDateJs }}">{{ post.date | niceDate }}</span></p>
                        <p class="text text--sm">Catégorie :
                            {% for cat in post.data.categories %}
                                <a href="/categories/{{ cat | slugify }}/index.html" class="link">{{ cat }}</a>
                            {% endfor %}
                        </p>
                    </footer>
                </article>
            {% endfor %}
        </div>

        <nav class="booksList__pagination pagination" data-paginate-wrapper>
            <button class="pagination__btn btn btn--secondary" title="Page précédente" aria-label="Page précédente" data-prev>
                &lt;
            </button>

            <div class="pagination__numbers" data-numbers></div>

            <button class="pagination__btn btn btn--secondary" title="Page suivante" aria-label="Page suivante" data-next>
                &gt;
            </button>
        </nav>

    </div>
</div>