<ul class="booksList">
    {% for post in collections.post %}
        <li class="booksList__item book">
            <div class="book__img">
                <img src="assets/img/cover/{{ post.data.couverture }}-th.webp" alt="couverture de {{ post.data.title }}" class="img-resp" loading="lazy">
            </div>
            <a href="{{ post.url }}" class="book__link">
                <h3 class="title book__content">{{ post.data.title }}</h3>
                <p class="book__content">Auteur : {{ post.data.author }} - Date : <span class="time" data-time="{{ post.date | niceDateJs }}">{{ post.date | niceDate }}</span> - Editeur : XXX</p>
                <p class="book__content">Langue : Fr</p>
                <p class="book__content">
                    {% for cat in post.data.categories %}
                        {{ cat }}
                    {% endfor %}
                </p>
            </a>
        </li>
    {% endfor %}
</ul>