<div class="wrapper">
    <div class="wrapper__inner">
        <h2 class="title title--2">Toutes les lectures</h2>
        <div class="booksList">
            {% for post in collections.post %}
                <article class="book book--details">
                    <a href="{{ post.url }}" class="book__link">
                        <img src="assets/img/cover/{{ post.data.couverture }}-th.webp"
                             alt="couverture de {{ post.data.title }}" loading="lazy" class="book__visual">
                    </a>

                    <div class="book__title">
                        <h3 class="title title--3">{{ post.data.title }}</h3>
                        <h4 class="title title--4">{{ post.data.author }}</h4>
                    </div>

                    <footer class="book__footer">
                        <p class="text text--sm">Date de publication : <span class="time" data-time="{{ post.date | niceDateJs }}">{{ post.date | niceDate }}</span></p>
                        <p class="text text--sm">Catégorie :
                            {% for cat in post.data.categories %}
                                <a href="/categories/{{ cat | slugify }}/index.html" class="link">{{ cat }}</a>
                            {% endfor %}
                        </p>
                    </footer>
                </article>
            {% endfor %}
        </div>
        <nav class="booksList__pagination pagination">
            <button class="" id="prev-button" title="Previous page" aria-label="Previous page">
                &lt;
            </button>

            <div id="pagination__numbers">

            </div>
            <button class="" id="next-button" title="Next page" aria-label="Next page">
                &gt;
            </button>
        </nav>
    </div>
</div>