<div class="description">
    {% if title == "Accueil" %}
        <h2 class="title title--main description__col1">{{ data.description }}</h2>
    {% else %}
        <p class="title title--main description__col1">{{ data.description }}</p>
    {% endif %}

    <p class="description__col1">{{ data.description2|safe }}</p>
</div>