<footer role="contentinfo" class="footer page__footer">
    <div id="about">
        <p class="text text--mb8">{{ data.footer1 }}</p>
        <p class="text text--mb8">{{ data.footer2 }}</p>
        <p class="text">{{ data.footer3 }}</p>
    </div>
    <p class="text">&copy; 2022 - {% year %} <a href="/" class="footer__link">{{  data.title }}</a> - <a href="/mentions" class="text--link"">{{ data.mentions }}</a></p>
</footer>