<header role="banner" class="header">
    <a href="#main" class="sr-only sr-only-focusable">Aller au contenu</a>
    {% if title == "Accueil" %}
        <h1 class="title title--logo">{{ data.title }}</h1>
    {% else %}
        <p class="title title--logo"><a href="/">{{ data.title }}</a></p>
    {% endif %}
</header>