<nav>
    <ul class="navtags">
        {% for post in collections.categories %}
            <li class="navtags__item">
                <a href="/categories/{{ post | slugify }}/index.html" class="navtags__link">{{ post }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>