<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ data.title }}</title>
    <meta name="description" content="{{ data.description }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">

</head>

<body>
    {% include '_header.njk' %}
    {% include '_description.njk' %}
    {% include '_nav.njk' %}
    <main id="main" role="main" class="content">
        {{ content | safe }}
    </main>
    {% include '_footer.njk' %}
</body>
</html>