@use '../config' as *;

.booksList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 0;

    @include mq('sm') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq('md') {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mq('ml') {
        grid-template-columns: repeat(5, 1fr);
    }

    &__item {
        border-bottom: 10px solid var(--primary-color);
        list-style-type: none;
        padding: 1.2rem 0.4rem 0 0.4rem;
    }
}