@use '../config' as *;

.lastReading {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  overflow-x: auto;
  padding: 16px 0;

  @include mq('md') {
    display: none;
  }

  &--md {
    display: none;

    @include mq('md') {
      display: flex;
    }

    @include mq('ml') {
      display: none;
    }
  }

  &--ml {
    display: none;

    @include mq('ml') {
      display: flex;
    }

    @include mq('lg') {
      display: none;
    }
  }

  &--lg {
    display: none;

    @include mq('lg') {
      display: flex;
    }
  }
}