@use '../config/variables' as *;
@use '../config/functions' as *;

.lastReading {
  padding: rem-calc(16);

  &__content {
    overflow-x: auto;
  }

  &__innerContent {
    display: flex;
    gap: rem-calc(16);
  }
}