@use '../config' as *;

.navtags {
    background: var(--background-color);
    bottom: 0;
    display: none;
    left: 0;
    overflow-y: auto;
    padding: 4rem 1rem 2rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;

    @include mq('ml') {
        display: block;
        padding: 0;
        position: static;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: 0.8rem 0;

        @include mq('ml') {
            border-bottom: 1px solid var(--primary-color);
            border-top: 1px solid var(--primary-color);
            flex-direction: row;
            position: static;
        }
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        color: var(--text-color);
        text-decoration: none;
    }
}

.buttonMenu {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 0.4rem 0.8rem 0.4rem;
    padding: 0.4rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 10;

    @include mq('ml') {
        display: none;
    }
}

.menuShower {
    &:checked+.navtags {
        display: block;

        .sr-only {
            clip: auto !important;
            -webkit-clip-path: none !important;
            clip-path: none !important;
            font-size: 1.1rem;
            height: auto !important;
            margin: auto !important;
            overflow: visible !important;
            position: static !important;
            width: auto !important;
            white-space: normal !important;
        }
    }
}