@use '../config' as *;

.navtags {
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0.8rem 0;

    &__item {
        list-style-type: none;
    }

    &__link {
        color: var(--text-color);
        text-decoration: none;
    }
}