@use '../config' as *;

.title {
  color: var(--theme--text);
  font-family: "Open Sans", arial, sans-serif;

  &--main {
    font-size: rem-calc(32);
    font-weight: 700;
  }

  &--2 {
    font-size: rem-calc(24);
    font-weight: 600;
  }

  &--3 {
    font-size: rem-calc(20);
    font-weight: 600;
    line-height: 1.2;
  }

  &--4 {
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 1.2;
  }

  &--mb8 {
    margin-bottom:8px;
  }

}

.text {
  color: var(--theme--text);
  font-family: "Open Sans", arial, sans-serif;

  &--subtitle {
    font-size: rem-calc(18);
    font-weight: 400;
  }

  &--sm {
    font-size: rem-calc(15);
  }

  &--link {
    color: var(--theme--text);
  }

  &--mb8 {
    margin-bottom: 8px;
  }

}