@use '../config' as *;

.article {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;

    @include mq('md') {
        flex-direction: row;
    }

    &__metadata {
        order: 3;
        width: 100%;

        &--highlight {
            order: 1;
        }

        @include mq('md') {
            order: 1;
            width: 15%;
        }
    }

    &__visual {
        width: 100%;

        @include mq('md') {
            order: 1;
            width: 45%;
        }
    }

    &__description {
        width: 100%;

        @include mq('md') {
            order: 1;
            width: 40%;
        }
    }

    &__description--big {
        order: 2;
        width: 100%;

        @include mq('md') {
            order: 1;
            width: 85%;
        }
    }

    &__description--only {
        width: 100%;

        @include mq('md') {
            margin-left: 15%;
            width: 90%;
        }
    }

    &__title {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
}