@use '../config' as *;

.wrapper {
  padding: 16px;

  &--dark {
    background: var(--theme--color-secondary);
  }

  &__inner {
    margin: 0 auto;
    max-width: 1400px;
  }

  &__innerPage {
    margin: 0 auto;
    max-width: 1024px;
  }
}