:root {
  --text-color: hsl(0, 0%, 20%);
  --text-alt-color: hsl(0, 0%, 94%);
  --text-highlight-color: hsl(214, 98%, 20%);
  --background-color: hsl(0, 0%, 94%);
  --primary-color: hsl(0, 0%, 20%);
}