:root {
  --theme--main-bg : hsl(210, 24%, 84%);
  --theme--color-primary:  hsl(214, 32%, 91%);
  --theme--color-secondary: hsl(195, 33%, 98%);
  --theme--color-tertiary:  hsl(0, 0%, 100%);
  --theme--text: hsl(219, 19%, 32%);
  --theme--highlight: hsl(177, 53%, 45%);
}