:root {
  --theme--color-primary: hsl(0, 0%, 88%);
  --theme--color-secondary: hsl(220, 13%, 91%);
  --theme--color-tertiary: hsl(0, 0%, 80%);
  --theme--text: hsl(209, 84%, 10%);
  --theme--text-highlight: hsl(242, 47%, 34%);
}